# Copier ce fichier en .env et adapter les valeurs
SECRET_KEY=secret_key_development
DEBUG=False
ALLOWED_HOSTS=127.0.0.1

POSTGRES_DB=gestion_etudiants
POSTGRES_USER=postgres
POSTGRES_PASSWORD=motdepassefort
POSTGRES_HOST=db
POSTGRES_PORT=5432
