{% extends 'students/base.html' %}
{% block title %}Supprimer un étudiant{% endblock %}
{% block content %}
<div class="card mx-auto" style="max-width:500px;">
    <div class="card-body p-5 text-center">
        <i class="bi bi-exclamation-triangle-fill text-danger" style="font-size:3rem;"></i>
        <h4 class="mt-3 fw-bold">Confirmer la suppression</h4>
        <p class="text-muted">Êtes-vous sûr de vouloir supprimer l'étudiant <strong>{{ etudiant.nom_complet }}</strong> ({{ etudiant.cne }}) ?<br>
        <small class="text-danger">Cette action est irréversible et supprimera toutes les notes associées.</small></p>
        <form method="post" class="d-flex gap-3 justify-content-center mt-4">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger px-4">
                <i class="bi bi-trash me-2"></i>Supprimer définitivement
            </button>
            <a href="{% url 'detail_etudiant' etudiant.pk %}" class="btn btn-outline-secondary px-4">Annuler</a>
        </form>
    </div>
</div>
{% endblock %}
